@import 'tailwindcss';

@layer base {
    :root{
        letter-spacing: 0.125rem;
    }
}

@theme {
    --color-dark-blue: #04174c;
    --color-darker-blue: #041033;
    --color-off-white: #f5f5f0;
    --animate-appear: appear 1s;
    --animate-disappear: disappear 1s;
    --animate-type: type 3s steps(15) infinite, caret 1s infinite;

    @keyframes appear{
        0%{
            visibility: visible;
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }

    @keyframes disappear{
        0%{
            opacity: 1
        }
        100%{
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes type{
        0%{
            width: 0;
        }
        33%{
            width: 50%
        }
        66%{
            width:100%
        }
    }

    @keyframes caret{
        50%{
            border-color: transparent;
        }
    }
}

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}